.navbar {
  background-color: white !important;
  border-bottom: 1px solid transparent;
  width: 100% !important;
  margin-top: 0;
  margin-bottom: 0;
  position: fixed;

  overflow: hidden;
  z-index: 9999;
}

.navbarContainer {
  display: flex;
  height: 70px !important;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

.navbarRight {
  display: flex;
  padding: 0;
}

.navbarLeft {
  display: flex;
  align-items: center;
  
  padding: 0;
}

.navbarImg {
  width: 80px;
  height: 80px;
}

.header {    
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  color: rgb(20, 20, 20)
}

.footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  color: rgb(113, 112, 112);
  background-color: white;
  margin: auto;
}

.footerContainer {
  display: flex;
  height: 150px !important;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

.fullWidth {
  width: 100%;
  
}



.footerLink {
  color: rgb(113, 112, 112);
}

.iconNavbar {
  color: rgb(20, 20, 20);
  height: 20px;
  justify-self: right;
}